.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*
.env
env.local
.env.*.local

psd
thumb
sketch

# End of https://mrkandreev.name/snippets/gitignore-generator/#react